In [1]:
from 
# spark = SparkSession \
# .builder \
# .appName('CalculatingGeoDistances') \
# .getOrCreate()
# print('Session created')

ImportError: cannot import name 'SparkSession'

In [55]:
# Load in the data
rdd = sc.textFile('/home/test/Downloads/CaliforniaHousing/cal_housing.data')

# Load in the header
header = sc.textFile('/home/test/Downloads/CaliforniaHousing/cal_housing.domain')

In [56]:
print(rdd.first())

-122.230000,37.880000,41.000000,880.000000,129.000000,322.000000,126.000000,8.325200,452600.000000

In [57]:
print(header.collect())

['longitude: continuous.', 'latitude: continuous.', 'housingMedianAge: continuous. ', 'totalRooms: continuous. ', 'totalBedrooms: continuous. ', 'population: continuous. ', 'households: continuous. ', 'medianIncome: continuous. ', 'medianHouseValue: continuous. ']

In [58]:
print(rdd.count())

20640

In [59]:
print(rdd.take(10))

['-122.230000,37.880000,41.000000,880.000000,129.000000,322.000000,126.000000,8.325200,452600.000000', '-122.220000,37.860000,21.000000,7099.000000,1106.000000,2401.000000,1138.000000,8.301400,358500.000000', '-122.240000,37.850000,52.000000,1467.000000,190.000000,496.000000,177.000000,7.257400,352100.000000', '-122.250000,37.850000,52.000000,1274.000000,235.000000,558.000000,219.000000,5.643100,341300.000000', '-122.250000,37.850000,52.000000,1627.000000,280.000000,565.000000,259.000000,3.846200,342200.000000', '-122.250000,37.850000,52.000000,919.000000,213.000000,413.000000,193.000000,4.036800,269700.000000', '-122.250000,37.840000,52.000000,2535.000000,489.000000,1094.000000,514.000000,3.659100,299200.000000', '-122.250000,37.840000,52.000000,3104.000000,687.000000,1157.000000,647.000000,3.120000,241400.000000', '-122.260000,37.840000,42.000000,2555.000000,665.000000,1206.000000,595.000000,2.080400,226700.000000', '-122.250000,37.840000,52.000000,3549.000000,707.000000,1551.000000,714.000000,3.691200,261100.000000']

In [60]:
# Split lines on commas
rdd = rdd.map(lambda line: line.split(","))

# Inspect the first 2 lines 
rdd.take(2)

[['-122.230000',
  '37.880000',
  '41.000000',
  '880.000000',
  '129.000000',
  '322.000000',
  '126.000000',
  '8.325200',
  '452600.000000'],
 ['-122.220000',
  '37.860000',
  '21.000000',
  '7099.000000',
  '1106.000000',
  '2401.000000',
  '1138.000000',
  '8.301400',
  '358500.000000']]

In [61]:
# Import the necessary modules 
from pyspark.sql import Row

# Map the RDD to a DF
df = rdd.map(lambda line: Row(longitude=line[0], 
                              latitude=line[1], 
                              housingMedianAge=line[2],
                              totalRooms=line[3],
                              totalBedRooms=line[4],
                              population=line[5], 
                              households=line[6],
                              medianIncome=line[7],
                              medianHouseValue=line[8]))

In [62]:
df.first()

Row(households='126.000000', housingMedianAge='41.000000', latitude='37.880000', longitude='-122.230000', medianHouseValue='452600.000000', medianIncome='8.325200', population='322.000000', totalBedRooms='129.000000', totalRooms='880.000000')

In [63]:
df1 = df.toDF()

In [64]:
# Show the top 20 rows 
df1.show()

+-----------+----------------+---------+-----------+----------------+------------+-----------+-------------+-----------+
| households|housingMedianAge| latitude|  longitude|medianHouseValue|medianIncome| population|totalBedRooms| totalRooms|
+-----------+----------------+---------+-----------+----------------+------------+-----------+-------------+-----------+
| 126.000000|       41.000000|37.880000|-122.230000|   452600.000000|    8.325200| 322.000000|   129.000000| 880.000000|
|1138.000000|       21.000000|37.860000|-122.220000|   358500.000000|    8.301400|2401.000000|  1106.000000|7099.000000|
| 177.000000|       52.000000|37.850000|-122.240000|   352100.000000|    7.257400| 496.000000|   190.000000|1467.000000|
| 219.000000|       52.000000|37.850000|-122.250000|   341300.000000|    5.643100| 558.000000|   235.000000|1274.000000|
| 259.000000|       52.000000|37.850000|-122.250000|   342200.000000|    3.846200| 565.000000|   280.000000|1627.000000|
| 193.000000|       52.000000|37.850000|-122.250000|   269700.000000|    4.036800| 413.000000|   213.000000| 919.000000|
| 514.000000|       52.000000|37.840000|-122.250000|   299200.000000|    3.659100|1094.000000|   489.000000|2535.000000|
| 647.000000|       52.000000|37.840000|-122.250000|   241400.000000|    3.120000|1157.000000|   687.000000|3104.000000|
| 595.000000|       42.000000|37.840000|-122.260000|   226700.000000|    2.080400|1206.000000|   665.000000|2555.000000|
| 714.000000|       52.000000|37.840000|-122.250000|   261100.000000|    3.691200|1551.000000|   707.000000|3549.000000|
| 402.000000|       52.000000|37.850000|-122.260000|   281500.000000|    3.203100| 910.000000|   434.000000|2202.000000|
| 734.000000|       52.000000|37.850000|-122.260000|   241800.000000|    3.270500|1504.000000|   752.000000|3503.000000|
| 468.000000|       52.000000|37.850000|-122.260000|   213500.000000|    3.075000|1098.000000|   474.000000|2491.000000|
| 174.000000|       52.000000|37.840000|-122.260000|   191300.000000|    2.673600| 345.000000|   191.000000| 696.000000|
| 620.000000|       52.000000|37.850000|-122.260000|   159200.000000|    1.916700|1212.000000|   626.000000|2643.000000|
| 264.000000|       50.000000|37.850000|-122.260000|   140000.000000|    2.125000| 697.000000|   283.000000|1120.000000|
| 331.000000|       52.000000|37.850000|-122.270000|   152500.000000|    2.775000| 793.000000|   347.000000|1966.000000|
| 303.000000|       52.000000|37.850000|-122.270000|   155500.000000|    2.120200| 648.000000|   293.000000|1228.000000|
| 419.000000|       50.000000|37.840000|-122.260000|   158700.000000|    1.991100| 990.000000|   455.000000|2239.000000|
| 275.000000|       52.000000|37.840000|-122.270000|   162900.000000|    2.603300| 690.000000|   298.000000|1503.000000|
+-----------+----------------+---------+-----------+----------------+------------+-----------+-------------+-----------+
only showing top 20 rows

In [65]:
df1.head(2)

[Row(households='126.000000', housingMedianAge='41.000000', latitude='37.880000', longitude='-122.230000', medianHouseValue='452600.000000', medianIncome='8.325200', population='322.000000', totalBedRooms='129.000000', totalRooms='880.000000'),
 Row(households='1138.000000', housingMedianAge='21.000000', latitude='37.860000', longitude='-122.220000', medianHouseValue='358500.000000', medianIncome='8.301400', population='2401.000000', totalBedRooms='1106.000000', totalRooms='7099.000000')]

In [66]:
df1.take(2)

[Row(households='126.000000', housingMedianAge='41.000000', latitude='37.880000', longitude='-122.230000', medianHouseValue='452600.000000', medianIncome='8.325200', population='322.000000', totalBedRooms='129.000000', totalRooms='880.000000'),
 Row(households='1138.000000', housingMedianAge='21.000000', latitude='37.860000', longitude='-122.220000', medianHouseValue='358500.000000', medianIncome='8.301400', population='2401.000000', totalBedRooms='1106.000000', totalRooms='7099.000000')]

In [67]:
# Print the data types of all `df` columns
# df.dtypes

# Print the schema of `df`
print(df1.printSchema())
print('\n',df1.dtypes)

root
 |-- households: string (nullable = true)
 |-- housingMedianAge: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- medianHouseValue: string (nullable = true)
 |-- medianIncome: string (nullable = true)
 |-- population: string (nullable = true)
 |-- totalBedRooms: string (nullable = true)
 |-- totalRooms: string (nullable = true)

None

 [('households', 'string'), ('housingMedianAge', 'string'), ('latitude', 'string'), ('longitude', 'string'), ('medianHouseValue', 'string'), ('medianIncome', 'string'), ('population', 'string'), ('totalBedRooms', 'string'), ('totalRooms', 'string')]

In [68]:
from pyspark.sql.types import *

df1 = df1.withColumn("longitude", df1["longitude"].cast(FloatType()))\
.withColumn("latitude", df1["latitude"].cast(FloatType()))\
.withColumn("housingMedianAge",df1["housingMedianAge"].cast(FloatType()))\
.withColumn("totalRooms", df1["totalRooms"].cast(FloatType()))\
.withColumn("totalBedRooms", df1["totalBedRooms"].cast(FloatType()))\
.withColumn("population", df1["population"].cast(FloatType()))\
.withColumn("households", df1["households"].cast(FloatType()))\
.withColumn("medianIncome", df1["medianIncome"].cast(FloatType()))\
.withColumn("medianHouseValue", df1["medianHouseValue"].cast(FloatType()))

In [69]:
# Write a custom function to convert the data type of DataFrame columns
def convertColumn(df1, names, newType):
  for name in names: 
     df1 = df1.withColumn(name, df[name].cast(newType))
  return df

In [70]:
# # Assign all column names to `columns`
# columns = ['households', 'housingMedianAge', 'latitude', 'longitude', 'medianHouseValue', 'medianIncome', 'population', 'totalBedRooms', 'totalRooms']

# # # Conver the `df` columns to `FloatType()`
# df = convertColumn(df, columns, FloatType())

AttributeError: 'PipelinedRDD' object has no attribute 'withColumn'

In [71]:
# columnar access and SQL queries were two advantages of using DataFrames
df1.select('population','totalBedRooms','medianHouseValue').show(5)

+----------+-------------+----------------+
|population|totalBedRooms|medianHouseValue|
+----------+-------------+----------------+
|     322.0|        129.0|        452600.0|
|    2401.0|       1106.0|        358500.0|
|     496.0|        190.0|        352100.0|
|     558.0|        235.0|        341300.0|
|     565.0|        280.0|        342200.0|
+----------+-------------+----------------+
only showing top 5 rows

In [72]:
df1.groupBy("housingMedianAge").count().sort("housingMedianAge",ascending=False).show()

+----------------+-----+
|housingMedianAge|count|
+----------------+-----+
|            52.0| 1273|
|            51.0|   48|
|            50.0|  136|
|            49.0|  134|
|            48.0|  177|
|            47.0|  198|
|            46.0|  245|
|            45.0|  294|
|            44.0|  356|
|            43.0|  353|
|            42.0|  368|
|            41.0|  296|
|            40.0|  304|
|            39.0|  369|
|            38.0|  394|
|            37.0|  537|
|            36.0|  862|
|            35.0|  824|
|            34.0|  689|
|            33.0|  615|
+----------------+-----+
only showing top 20 rows

In [73]:
print(df1.count())

20640

In [74]:
df1.groupBy("housingMedianAge").count().take(20)

[Row(housingMedianAge=18.0, count=570),
 Row(housingMedianAge=47.0, count=198),
 Row(housingMedianAge=9.0, count=205),
 Row(housingMedianAge=39.0, count=369),
 Row(housingMedianAge=5.0, count=244),
 Row(housingMedianAge=17.0, count=698),
 Row(housingMedianAge=30.0, count=476),
 Row(housingMedianAge=26.0, count=619),
 Row(housingMedianAge=41.0, count=296),
 Row(housingMedianAge=29.0, count=461),
 Row(housingMedianAge=23.0, count=448),
 Row(housingMedianAge=11.0, count=254),
 Row(housingMedianAge=49.0, count=134),
 Row(housingMedianAge=7.0, count=175),
 Row(housingMedianAge=2.0, count=58),
 Row(housingMedianAge=14.0, count=412),
 Row(housingMedianAge=21.0, count=446),
 Row(housingMedianAge=3.0, count=62),
 Row(housingMedianAge=38.0, count=394),
 Row(housingMedianAge=51.0, count=48)]

In [75]:
df1.describe().show()

+-------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|summary|        households|  housingMedianAge|          latitude|          longitude|  medianHouseValue|      medianIncome|        population|    totalBedRooms|        totalRooms|
+-------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+
|  count|             20640|             20640|             20640|              20640|             20640|             20640|             20640|            20640|             20640|
|   mean| 499.5396802325581|28.639486434108527| 35.63186143109965|-119.56970444871473|206855.81690891474|3.8706710030346416|1425.4767441860465|537.8980135658915|2635.7630813953488|
| stddev|382.32975283161136|12.585557612111613|2.1359523806029554| 2.0035317429328914|115395.61587441381|1.8998217183639672|1132.4621217653385|421.2479059431315|2181.6152515827994|
|    min|               1.0|               1.0|             32.54|            -124.35|           14999.0|            0.4999|               3.0|              1.0|               2.0|
|    max|            6082.0|              52.0|             41.95|            -114.31|          500001.0|           15.0001|           35682.0|           6445.0|           39320.0|
+-------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+

In [76]:
# Import all from `sql.functions` 
from pyspark.sql.functions import *

# Adjust the values of `medianHouseValue`
df1 = df1.withColumn("medianHouseValue", col("medianHouseValue")/100000)

# Show the first 2 lines of `df`
df.take(3)

[Row(households='126.000000', housingMedianAge='41.000000', latitude='37.880000', longitude='-122.230000', medianHouseValue='452600.000000', medianIncome='8.325200', population='322.000000', totalBedRooms='129.000000', totalRooms='880.000000'),
 Row(households='1138.000000', housingMedianAge='21.000000', latitude='37.860000', longitude='-122.220000', medianHouseValue='358500.000000', medianIncome='8.301400', population='2401.000000', totalBedRooms='1106.000000', totalRooms='7099.000000'),
 Row(households='177.000000', housingMedianAge='52.000000', latitude='37.850000', longitude='-122.240000', medianHouseValue='352100.000000', medianIncome='7.257400', population='496.000000', totalBedRooms='190.000000', totalRooms='1467.000000')]

In [77]:
# Import all from `sql.functions` if you haven't yet
from pyspark.sql.functions import *
df=df1
# Divide `totalRooms` by `households`
roomsPerHousehold = df.select(col("totalRooms")/col("households"))

# Divide `population` by `households`
populationPerHousehold = df.select(col("population")/col("households"))

# Divide `totalBedRooms` by `totalRooms`
bedroomsPerRoom = df.select(col("totalBedRooms")/col("totalRooms"))

# Add the new columns to `df`
df = df.withColumn("roomsPerHousehold", col("totalRooms")/col("households")) \
   .withColumn("populationPerHousehold", col("population")/col("households")) \
   .withColumn("bedroomsPerRoom", col("totalBedRooms")/col("totalRooms"))
   
# Inspect the result
df.first()

Row(households=126.0, housingMedianAge=41.0, latitude=37.880001068115234, longitude=-122.2300033569336, medianHouseValue=4.526, medianIncome=8.325200080871582, population=322.0, totalBedRooms=129.0, totalRooms=880.0, roomsPerHousehold=6.984126984126984, populationPerHousehold=2.5555555555555554, bedroomsPerRoom=0.14659090909090908)

In [78]:
# Re-order and select columns
df = df.select("medianHouseValue", 
              "totalBedRooms", 
              "population", 
              "households", 
              "medianIncome", 
              "roomsPerHousehold", 
              "populationPerHousehold", 
              "bedroomsPerRoom")

>Standardization

DenseVector() is a local vector that is backed by a double array that represents its entry values. it's used to store arrays of values for use in PySpark

Next, you go back to making a DataFrame out of the input_data and you re-label the columns by passing a list as a second argument. This list consists of the column names "label" and "features":

In [79]:
# Import `DenseVector`
from pyspark.ml.linalg import DenseVector

# Define the `input_data` 
input_data = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Replace `df` with the new DataFrame
df2 = spark.createDataFrame(input_data, ["label", "features"])

In [ ]:
# # Import `DenseVector`
# from pyspark.ml.linalg import DenseVector

# # Define the `input_data` 
# input_data = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# # Replace `df` with the new DataFrame
# df = spark.createDataFrame(input_data, ["label", "features"])

In [81]:
# Import `StandardScaler` 
from pyspark.ml.feature import StandardScaler

# Initialize the `standardScaler`
standardScaler = StandardScaler(inputCol="features", outputCol="features_scaled")

# Fit the DataFrame to the scaler
scaler = standardScaler.fit(df2)

# Transform the data in `df` with the scaler
scaled_df = scaler.transform(df2)

# Inspect the result
scaled_df.take(2)

[Row(label=4.526, features=DenseVector([129.0, 322.0, 126.0, 8.3252, 6.9841, 2.5556, 0.1466]), features_scaled=DenseVector([0.3062, 0.2843, 0.3296, 4.3821, 2.8228, 0.2461, 2.5264])),
 Row(label=3.585, features=DenseVector([1106.0, 2401.0, 1138.0, 8.3014, 6.2381, 2.1098, 0.1558]), features_scaled=DenseVector([2.6255, 2.1202, 2.9765, 4.3696, 2.5213, 0.2031, 2.6851]))]

>Building A Machine Learning Model With Spark ML

In [82]:
# Split the data into train and test sets
train_data, test_data = scaled_df.randomSplit([.8,.2],seed=1234)

In [83]:
train_data.take(1)

[Row(label=0.175, features=DenseVector([168.0, 259.0, 138.0, 2.3667, 3.5725, 1.8768, 0.3408]), features_scaled=DenseVector([0.3988, 0.2287, 0.3609, 1.2457, 1.4439, 0.1807, 5.873]))]

Note that the argument elasticNetParam corresponds to α or the vertical intercept and that the regParam or the regularization paramater corresponds to λ. Go here for more information.

In [84]:
# Import `LinearRegression`
from pyspark.ml.regression import LinearRegression

# Initialize `lr`
lr = LinearRegression(labelCol="label", maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Fit the data to the model
linearModel = lr.fit(train_data)

 inspect the predicted and real values by simply accessing the list with square brackets

In [85]:
# Generate predictions
predicted = linearModel.transform(test_data)

# Extract the predictions and the "known" correct labels
predictions = predicted.select("prediction").rdd.map(lambda x: x[0])
labels = predicted.select("label").rdd.map(lambda x: x[0])

# Zip `predictions` and `labels` into a list
predictionAndLabel = predictions.zip(labels).collect()

# Print out first 5 instances of `predictionAndLabel` 
print(predictionAndLabel[:5])

[(1.4491508524918457, 0.14999), (1.5705029404692372, 0.14999), (2.148727956912464, 0.14999), (1.5831547768979277, 0.344), (1.5182107797955968, 0.398)]

In [86]:
# Evaluating the Model
# Coefficients for the model
# Intercept for the model

print(linearModel.coefficients,\
linearModel.intercept)

[0.0,0.0,0.0,0.276239709215,0.0,0.0,0.0] 0.9903995774620005

In [87]:
# Get the RMSE
linearModel.summary.rootMeanSquaredError,linearModel.summary.r2

# Get the R2

(0.8692118678997669, 0.4240895287218379)