In [194]:
import pandas as pd
import numpy as np

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [195]:
s1 = pd.Series([1,3,5,np.nan,6,8])
s1

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [196]:
dates = pd.date_range('20130101', periods=6)

In [197]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [198]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.926930 -0.650191 -1.620772  2.548611
2013-01-02  0.228548 -0.695399 -0.804041 -0.188962
2013-01-03 -0.316831 -1.156365 -0.084781 -2.341199
2013-01-04 -1.255926  0.232276  0.368448 -0.665029
2013-01-05 -1.470886  0.599458 -0.086955 -0.527589
2013-01-06  2.158193 -0.266987 -1.504420  0.725023

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [199]:
In [10]: df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })

In [200]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [201]:

df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [202]:
df2.<TAB>
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.as_blocks          df2.convert_objects
df2.asfreq             df2.copy
df2.as_matrix          df2.corr
df2.astype             df2.corrwith
df2.at                 df2.count
df2.at_time            df2.cov
df2.axes               df2.cummax
df2.B                  df2.cummin
df2.between_time       df2.cumprod
df2.bfill              df2.cumsum
df2.blocks             df2.D

SyntaxError: invalid syntax (<ipython-input-202-894a3d213484>, line 1)

In [ ]:
df2.head()

In [ ]:
df.tail()

Display the index, columns, and the underlying numpy data

In [206]:
df.index

AttributeError: 'DatetimeIndex' object has no attribute 'type'

In [207]:
df.columns

AttributeError: 'Index' object has no attribute 'type'

In [209]:
df2.values.type()

AttributeError: 'numpy.ndarray' object has no attribute 'type'

Describe shows a quick statistic summary of your data

In [210]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.263972 -0.322868 -0.622087 -0.074857
std    1.341073  0.648480  0.820392  1.626345
min   -1.470886 -1.156365 -1.620772 -2.341199
25%   -1.173677 -0.684097 -1.329325 -0.630669
50%   -0.621880 -0.458589 -0.445498 -0.358275
75%    0.092203  0.107460 -0.085325  0.496527
max    2.158193  0.599458  0.368448  2.548611

In [ ]:
df.T #transpose dataframe

In [ ]:
df.sort_index(axis=1, ascending=True) #sorting by index

In [ ]:
 df.sort_values(by='B')

SELECTION BY LABELS and INDEXES

In [ ]:
 df['A']

In [ ]:
df['20130102':'20130104']

In [ ]:
df[0:3]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc['20130102','C']

Selection by Position: use iloc and enter numeric arguement (as in list of lists)

Boolean Indexing

Using the isin() method for filtering:

In [ ]:
df3 = df.copy()

df3['E'] = ['one', 'one','two','three','four','three']
df3

In [ ]:
df3[df3['E'].isin(['two','four'])]

In [211]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df3['F'] = s1
df3

                   A         B         C         D      E    F
2013-01-01  0.000000 -0.301358  0.726644  1.176053    one  NaN
2013-01-02 -1.886802 -0.252404 -0.706990  0.927461    one  1.0
2013-01-03  0.884829  0.742643 -0.077963  0.984872    two  2.0
2013-01-04 -0.449176  1.213291 -0.433163  0.974834  three  3.0
2013-01-05 -0.170262 -0.763119  0.883849 -0.652599   four  4.0
2013-01-06 -0.255491  1.618329  1.071025  0.371502  three  5.0

Reassigning/setting values

In [ ]:
df3.at[dates[1],'F']== 1.0

In [ ]:
df3.iat[0,0] == 0

In [214]:
df.loc[:,'G'] = np.array([5.5] * len(df))
df

                   A         B         C         D    G
2013-01-01 -0.926930 -0.650191 -1.620772  2.548611  5.5
2013-01-02  0.228548 -0.695399 -0.804041 -0.188962  5.5
2013-01-03 -0.316831 -1.156365 -0.084781 -2.341199  5.5
2013-01-04 -1.255926  0.232276  0.368448 -0.665029  5.5
2013-01-05 -1.470886  0.599458 -0.086955 -0.527589  5.5
2013-01-06  2.158193 -0.266987 -1.504420  0.725023  5.5

Missing Data

In [ ]:
 df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
any_na = df1.dropna(how='any')  #drop records with null values
any_na

In [ ]:
df1.fillna(value=5) #Filling missing data

In [215]:
pd.isnull(df1) #boolean mask for null values

                A      B      C      D      G      E
2013-01-01  False  False  False  False  False  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

GENERAL STATISTICS

In [ ]:
df.mean() #mean of attributes

In [ ]:
df.mean(1) #mean of records

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

In [216]:
df.sub(s, axis='index')

                      A   B   C   D   G
2013-01-01 00:00:00 NaN NaN NaN NaN NaN
2013-01-02 00:00:00 NaN NaN NaN NaN NaN
2013-01-03 00:00:00 NaN NaN NaN NaN NaN
2013-01-04 00:00:00 NaN NaN NaN NaN NaN
2013-01-05 00:00:00 NaN NaN NaN NaN NaN
2013-01-06 00:00:00 NaN NaN NaN NaN NaN
A                   NaN NaN NaN NaN NaN
B                   NaN NaN NaN NaN NaN
C                   NaN NaN NaN NaN NaN
D                   NaN NaN NaN NaN NaN
G                   NaN NaN NaN NaN NaN

Applying functions to the data

In [218]:
df.apply(np.cumsum)

                   A         B         C         D     G
2013-01-01 -0.926930 -0.650191 -1.620772  2.548611   5.5
2013-01-02 -0.698382 -1.345591 -2.424812  2.359649  11.0
2013-01-03 -1.015213 -2.501956 -2.509593  0.018450  16.5
2013-01-04 -2.271139 -2.269681 -2.141146 -0.646578  22.0
2013-01-05 -3.742025 -1.670223 -2.228101 -1.174167  27.5
2013-01-06 -1.583832 -1.937209 -3.732521 -0.449144  33.0

In [217]:
df.apply(lambda x: x.max() - x.min())

A    3.629079
B    1.755823
C    1.989219
D    4.889809
G    0.000000
dtype: float64

In [ ]:
s.value_counts()

In [219]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [ ]:
c= {'key': ['foo', 'foo'], 'lval': [1, 2]}
c.keys()

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

Appending data

In [ ]:
s = df.iloc[3]
df.append(s, ignore_index=True)

In [221]:
 df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                      'C' : np.random.randn(8),
                      'D' : np.random.randn(8)})

In [224]:
df

     A      B         C         D
0  foo    one  0.299221 -0.683259
1  bar    one  0.251115 -0.188508
2  foo    two  1.389512 -0.035140
3  bar  three -0.932544  1.693224
4  foo    two -1.014501 -0.655655
5  bar    two  2.867492 -0.262089
6  foo    one  1.842223  0.886504
7  foo  three -0.628955  0.026879

In [225]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.251115 -0.188508
    three -0.932544  1.693224
    two    2.867492 -0.262089
foo one    2.141444  0.203245
    three -0.628955  0.026879
    two    0.375011 -0.690795

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
tuples