In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

In [4]:
s1 = Series(range(6))
s2 = s1 * s1
s2.index = s2.index + 2 # misalign indexes
df = pd.concat([s1, s2], axis=1)
df

     0     1
0  0.0   NaN
1  1.0   NaN
2  2.0   0.0
3  3.0   1.0
4  4.0   4.0
5  5.0   9.0
6  NaN  16.0
7  NaN  25.0

In [7]:
s3 = Series({'Tom':1, 'Dick':4, 'Har':9})
s4 = Series({'Tom':3, 'Dick':2, 'Mar':5})
df2 = pd.concat({'A':s3, 'B':s4 }, axis=1)
df2

        A    B
Dick  4.0  2.0
Har   9.0  NaN
Mar   NaN  5.0
Tom   1.0  3.0

In [11]:
df.index,df2.index

(RangeIndex(start=0, stop=8, step=1),
 Index(['Dick', 'Har', 'Mar', 'Tom'], dtype='object'))

In [13]:
df = DataFrame.from_dict({ # data by row
# rows as python dictionaries
'row0' : {'col0':0, 'col1':'A'},
'row1' : {'col0':1, 'col1':'B'}
}, orient='index')
df

      col0 col1
row0     0    A
row1     1    B

In [14]:
df = DataFrame.from_dict({ # data by row
# rows as python lists
'row0' : [1, 1+1j, 'A'],
'row1' : [2, 2+2j, 'B']
}, orient='index')
df

      0       1  2
row0  1  (1+1j)  A
row1  2  (2+2j)  B

In [23]:
df = DataFrame(10*np.random.randn(500,5))
df.index = pd.date_range('1/1/2005',
periods=len(df), freq='BM')
df.tail(20),df.head()

(                    0          1          2          3          4
 2045-01-31  -4.800313   7.599160  13.457934 -11.102780   3.775931
 2045-02-28  -8.520265 -10.529295  -2.189008   7.951396 -13.815709
 2045-03-31  -7.023691 -10.616246  -2.266690 -16.850105  -7.634804
 2045-04-28   2.152069 -13.607840   0.183457  -8.418342  15.536319
 2045-05-31 -12.462097 -14.479074   1.564739   7.717451  12.128113
 2045-06-30   1.780637  -3.766669  10.905897  11.389886  -8.633803
 2045-07-31   7.357386  10.409994 -11.492416 -10.675311  19.757116
 2045-08-31 -11.927166  -2.218938  -4.961475  10.344087   6.454881
 2045-09-29  -2.906148   4.981247  -6.722799  -2.500849  -1.820084
 2045-10-31  -6.477555   6.725247   2.377262  -1.879921   3.857227
 2045-11-30  -1.965252   0.155881  -0.526013  -1.814614 -11.519135
 2045-12-29  -7.709563  -7.033209  -6.612936   7.037920  20.171837
 2046-01-31  -1.313670   3.802599 -12.487000  -5.330022  22.638388
 2046-02-28 -16.813808  -3.125220  -4.937399  14.957828 -16.452960
 2046-03-30  -4.366682  -6.045205 -14.736293 -21.609434 -17.282214
 2046-04-30   5.211896  -2.107906  -5.688563  -9.187708   9.063565
 2046-05-31   4.788686   9.560050 -26.747819   0.381094  12.058288
 2046-06-29  -6.683514  -0.906307  -1.735079 -18.621745  -1.178362
 2046-07-31 -11.885443   2.536145   1.442357  -2.931772   6.739240
 2046-08-31   1.213293  -2.127778   5.618018   4.843145  25.414081,
                     0         1          2          3          4
 2005-01-31   6.700694 -0.420994   2.933440   3.399312   5.074847
 2005-02-28  -7.568124 -1.097038   8.516918 -14.067282 -11.089811
 2005-03-31  15.854949 -6.257923   1.670480   5.654873   4.291618
 2005-04-29  -5.623419 -1.033067 -14.008827  -7.714604   5.254961
 2005-05-31  -9.250293 -8.164566 -15.230224   9.935314  13.118812)

In [24]:
import string
import random
rows = 52
cols = 5
assert(1 <= rows <= 52) # min/max row count
df = DataFrame(np.random.randn(rows, cols),
columns=['c'+str(i) for i in range(cols)],
index=list((string.ascii_uppercase +
string.ascii_lowercase)[0:rows]))

In [27]:
list((string.ascii_uppercase +
string.ascii_lowercase)[0:rows])

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']